.sprite-num {
  image-rendering: pixelated;
  width: 24px;
  height: 44px;
  background-size: 276px 166px;
  background-image: url(minesweeper-sprites.png);
}

.sprite-num__1 {
  background-position: 0 0;
}
.sprite-num__2 {
  background-position: -28px 0;
}
.sprite-num__3 {
  background-position: -56px 0;
}
.sprite-num__4 {
  background-position: -84px 0;
}
.sprite-num__5 {
  background-position: -112px 0;
}
.sprite-num__6 {
  background-position: -140px 0;
}
.sprite-num__7 {
  background-position: -168px 0;
}
.sprite-num__8 {
  background-position: -196px 0;
}
.sprite-num__9 {
  background-position: -224px 0;
}
.sprite-num__0 {
  background-position: -252px 0;
}

.sprite-smile {
  image-rendering: pixelated;
  width: 50px;
  height: 50px;
  background-size: 276px 166px;
  background-image: url(minesweeper-sprites.png);
}

.sprite-smile__def {
  background-position: 0 -48px;
}
.sprite-smile__pressed {
  background-position: -54px -48px;
}
.sprite-smile__wait {
  background-position: -108px -48px;
}
.sprite-smile__win {
  background-position: -162px -48px;
}
.sprite-smile__lose {
  background-position: -216px -48px;
}

.sprite-field {
  image-rendering: pixelated;
  width: 30px;
  height: 30px;
  background-size: 276px 166px;
  background-image: url(minesweeper-sprites.png);
}

.sprite-field__def {
  background-position: 0 -102px;
}
.sprite-field__empty {
  background-position: -34px -102px;
}
.sprite-field__flag {
  background-position: -68px -102px;
}
.sprite-field__question {
  background-position: -102px -102px;
}
.sprite-field__question_pressed {
  background-position: -136px -102px;
}
.sprite-field__mine {
  background-position: -170px -102px;
}
.sprite-field__mine_pressed {
  background-position: -204px -102px;
}
.sprite-field__mine_defected {
  background-position: -238px -102px;
}

.sprite-field__1 {
  background-position: 0 -136px;
}
.sprite-field__2 {
  background-position: -34px -136px;
}
.sprite-field__3 {
  background-position: -68px -136px;
}
.sprite-field__4 {
  background-position: -102px -136px;
}
.sprite-field__5 {
  background-position: -136px -136px;
}
.sprite-field__6 {
  background-position: -170px -136px;
}
.sprite-field__7 {
  background-position: -204px -136px;
}
.sprite-field__8 {
  background-position: -238px -136px;
}

/*  */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel {
  min-width: 480px;
  display: flex;
  justify-content: space-between;
}

.scoreboard {
  display: flex;
}

.row {
  display: flex;
}
